@model CimtasHrPanel.Models.PersonModelView

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personel İstatistikleri</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Personel İstatistikleri</h2>
        
        <div class="card p-4 shadow-lg mb-4">
            <h4>Personel: @Model.Name</h4>
            <p>Departman: @Model.DepartmantName</p>
            <p>Kullanılan Yıllık İzin Günü @Model.TotalAnnualLeaveDaysUsed</p>
            <p>Kalan  İzin Günü @Model.RemainingAnnualLeaveDays</p>
        </div>

        <div class="card p-4 shadow-lg">
            <h4>İzin Geçmişi</h4>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>İzin Türü</th>
                        <th>Başlangıç Tarihi</th>
                        <th>Bitiş Tarihi</th>
                        <th>İzin</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var leave in Model.leaveHistory)
                    {
                        <tr>
                            <td>@leave.LeaveType.LeaveTypeName</td>
                            <td>@leave.LeaveTime.ToShortDateString()</td>
                            <td>@leave.EntryTime.ToShortDateString()</td>
                            <td>@leave.DurationDays</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>